

/* Importing the fonts required according to Figma Design Karla and Markzai */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');



:root{
    --primary-color: #F4CE14;
    --secondary-color: #495E57;
    --light-color: #FBDABB;
    --dark-color: #333333;
    --lightPr-color: #EE9972;
    --white-color: #EDEFEE;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}



.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--light-color);

}
header img{
    margin-left: 36px;
}

.nav-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: var(--dark-color);
    margin: 0 16px;
}

a:hover{
    border-bottom: 2px #F4CE14 solid;
}

/* Hero-section */

.restaurant-section {
    background-color: #495E57;
    padding: 20px;
  }

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .text {
    flex: 1;
    margin-left: 20px;
  }

  h1 {
    font-family: 'Markazi Text', serif;
    font-size: 80px;
    /* margin-bottom: 2px; */
    color: var(--primary-color);
    overflow: hidden;
  }

  h2 {
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    margin-bottom: 10px;
    color: var(--white-color);
    overflow: hidden;
  }

  .text p {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    color: var(--white-color);
  }

  .reserve-button {
    background-color: var(--primary-color);
    color: black;
    border-radius: 16px;
    border-color: #333333;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }

  .image {
    flex: 1;
    text-align: right;
    position: relative;
    top: 40px;
    height: 300px;
    width: 400px;
    padding: 5px;
    z-index: 1;
    margin-right: 24px;
    
  }

  .content img {
    border-radius: 16px;
  }


  /* Responsive Design */

/* Tablet and under */




  /* Responsive design Mobile and Under */

@media(max-width:500px){
    .header{
        flex-direction: column;
        align-items: center;
    }
    /* .nav-list{
        flex-direction: column;
    } */
    header img{
        margin-left: 0;
    }
    
}