

/* Importing the fonts required according to Figma Design Karla and Markzai */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');



:root{
    --primary-color: #F4CE14;
    --secondary-color: #495E57;
    --light-color: #FBDABB;
    --dark-color: #333333;
    --lightPr-color: #EE9972;
    --white-color: #EDEFEE;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}



.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--light-color);

}
header img{
    margin-left: 36px;
}

.nav-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: var(--dark-color);
    margin: 0 16px;
}

a:hover{
    border-bottom: 2px #F4CE14 solid;
}

/* Hero-section */

.restaurant-section {
    background-color: #495E57;
    padding: 20px;
  }

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .text {
    flex: 1;
    margin-left: 20px;
  }

  h1 {
    font-family: 'Markazi Text', serif;
    font-size: 80px;
    /* margin-bottom: 2px; */
    color: var(--primary-color);
    overflow: hidden;
  }

  h2 {
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    margin-bottom: 10px;
    color: var(--white-color);
    overflow: hidden;
  }

  .text p {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    color: var(--white-color);
  }

  .reserve-button {
    background-color: var(--primary-color);
    color: black;
    border-radius: 16px;
    border-color: #333333;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }

  .image {
    flex: 1;
    text-align: right;
    position: relative;
    top: 40px;
    height: 300px;
    width: 400px;
    padding: 5px;
    z-index: 1;
    margin-right: 24px;
    
  }

  .content img {
    border-radius: 16px;
  }


  /* Dish specials section */

  .dish-container{
    max-width: 1000px;
    margin: 96px 200px;
  }

  .specials{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .specials h2{
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    color: var(--dark-color);

  }

  .btn-primary{
    background-color: var(--primary-color);
    color: var(--dark-color);
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 16px;
    border-color: #333333;
    transition: 2s;
    cursor: pointer;
  }

  .cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 300px;
    color: black;
    /* border-radius: 10px 10px 0 0; */
    margin-top: 10px;
    box-shadow: 0.5px 4px rgba(0, 0, 0, 0.1);

  }


  .card-image {
    flex: 1;
    display: flex;
    justify-content: center;
    /* Add other styles for the image container */
  }

  .card-image img {
    width: 100%;
    height: 300px;
    border-radius: 16px 16px 0 0;

    /* max-width: 100%;
    max-height: 100%; */
    /* Add other styles for the image */
  }

  .card-content{
    margin: 20 0px;
    background-color: var(--white-color);
  }

  .card-content p{
    margin: 0 16px;
  }

  .price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin: 16px 12px;
  }
  .price p {
    color: #F30B0B;
  }
  .delivery {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 32px 32px 8px 0;
    font-weight: bold;
    
  }

  /* Responsive Design */

/* Tablet and under */
@media(max-width:768px){
          h1{
            white-space: nowrap;
          }
}




  /* Responsive design Mobile and Under */
  @media(max-width:500px){
    .header{
      flex-direction: column;
      align-items: center;
    }

    header img{
      margin-left: 0;
  }

    .content{
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .image{
      flex: 0 0 0;
      margin-right: 0;
      text-align: center;
    }
    
  }

