



:root{
    --primary-color: #F4CE14;
    --secondary-color: #495E57;
    --light-color: #FBDABB;
    --dark-color: #333333;
    --lightPr-color: #EE9972;
    --white-color: #EDEFEE;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}



.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--light-color);

}
header img{
    margin-left: 36px;
}

.nav-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: var(--dark-color);
    margin: 0 16px;
}

a:hover{
    border-bottom: 2px #F4CE14 solid;
}





